<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a_cl_cell0.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,117},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>a_cl_cell1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,601},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>a_cl_cell2.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,547},{15,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{15,15}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>a_cl_cell3.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,98},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>a_cl_cell4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,756},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>a_cl_cell5.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,526},{15,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>a_cl_effect0.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,601},{52,56}}</string>
                <key>offset</key>
                <string>{-209,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{470,118}</string>
            </dict>
            <key>a_cl_effect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,138},{92,98}}</string>
                <key>offset</key>
                <string>{-187,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,98}}</string>
                <key>sourceSize</key>
                <string>{470,118}</string>
            </dict>
            <key>a_cl_effect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{120,118}}</string>
                <key>offset</key>
                <string>{-149,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{470,118}</string>
            </dict>
            <key>a_cl_effect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,666},{118,118}}</string>
                <key>offset</key>
                <string>{-97,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{470,118}</string>
            </dict>
            <key>a_cl_effect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,666},{106,88}}</string>
                <key>offset</key>
                <string>{-35,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,29},{106,88}}</string>
                <key>sourceSize</key>
                <string>{470,118}</string>
            </dict>
            <key>a_cl_effect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{94,74}}</string>
                <key>offset</key>
                <string>{50,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,29},{94,74}}</string>
                <key>sourceSize</key>
                <string>{470,118}</string>
            </dict>
            <key>a_cl_effect6.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,272},{98,72}}</string>
                <key>offset</key>
                <string>{118,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,31},{98,72}}</string>
                <key>sourceSize</key>
                <string>{470,118}</string>
            </dict>
            <key>a_cl_effect7.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,666},{84,70}}</string>
                <key>offset</key>
                <string>{188,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,33},{84,70}}</string>
                <key>sourceSize</key>
                <string>{470,118}</string>
            </dict>
            <key>a_cl_effect8.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,98},{30,40}}</string>
                <key>offset</key>
                <string>{220,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,63},{30,40}}</string>
                <key>sourceSize</key>
                <string>{470,118}</string>
            </dict>
            <key>a_cl_effect_other0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{197,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{197,120}}</string>
                <key>sourceSize</key>
                <string>{211,134}</string>
            </dict>
            <key>a_cl_effect_other1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,534},{127,130}}</string>
                <key>offset</key>
                <string>{-41,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{127,130}}</string>
                <key>sourceSize</key>
                <string>{211,134}</string>
            </dict>
            <key>a_cl_effect_other10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{209,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{209,132}}</string>
                <key>sourceSize</key>
                <string>{211,134}</string>
            </dict>
            <key>a_cl_effect_other2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,272},{129,132}}</string>
                <key>offset</key>
                <string>{-40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{129,132}}</string>
                <key>sourceSize</key>
                <string>{211,134}</string>
            </dict>
            <key>a_cl_effect_other3.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,534},{131,130}}</string>
                <key>offset</key>
                <string>{-40,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,130}}</string>
                <key>sourceSize</key>
                <string>{211,134}</string>
            </dict>
            <key>a_cl_effect_other4.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,406},{133,126}}</string>
                <key>offset</key>
                <string>{-39,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,126}}</string>
                <key>sourceSize</key>
                <string>{211,134}</string>
            </dict>
            <key>a_cl_effect_other5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{133,134}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,134}}</string>
                <key>sourceSize</key>
                <string>{211,134}</string>
            </dict>
            <key>a_cl_effect_other6.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,138},{191,132}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{191,132}}</string>
                <key>sourceSize</key>
                <string>{211,134}</string>
            </dict>
            <key>a_cl_effect_other7.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{207,134}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,134}}</string>
                <key>sourceSize</key>
                <string>{211,134}</string>
            </dict>
            <key>a_cl_effect_other8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{209,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{209,132}}</string>
                <key>sourceSize</key>
                <string>{211,134}</string>
            </dict>
            <key>a_cl_effect_other9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,134}}</string>
                <key>sourceSize</key>
                <string>{211,134}</string>
            </dict>
            <key>a_cl_text_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,659},{78,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{78,65}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>a_cl_text_j1.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,526},{82,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,73}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>a_cl_text_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,372},{70,67}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{70,67}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>a_cl_text_k1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,441},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>a_cl_text_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,457},{76,67}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,67}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>a_cl_text_w1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,313},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>a_cl_text_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,388},{76,67}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,67}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>a_cl_text_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,238},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimationCompanyLogo.png</string>
            <key>size</key>
            <string>{500,786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec1fb71595c44581cb58833c606b3f8d:a46e63db16e015b1f4544f2983dd8924:6e9b84dc49f170198feacb009993c906$</string>
            <key>textureFileName</key>
            <string>AnimationCompanyLogo.png</string>
        </dict>
    </dict>
</plist>
