proj.win32/
proj.android/assets/
proj.android/bin/
proj.android/obj/
proj.android/.settings/
proj.android/gen/
proj.android/libs/
proj.ios/
proj.linux/
proj.blackberry/
proj.mac/
proj.winrt/
proj.wp8/
proj.marmalade/
proj.tizen/
Backup/
proj.wp8-xaml/
*.zip
*.vcxproj
*.filters
*.DS_Store
*/Backup
*.Dir
/proj.android/.classpath
/proj.android/.cproject
/proj.android/.project
/proj.android/build_native.py
/proj.android/build_native.sh
/proj.android/proguard-project.txt
/proj.android/project.properties
/proj.android/README.md
/proj.android/ant.properties
/proj.android/build.xml
/cocos2d
/res
/*.rar
/proj.win8.1-universal
/proj.ios_mac
