<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ptlight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,162},{158,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{158,157}}</string>
                <key>sourceSize</key>
                <string>{170,169}</string>
            </dict>
            <key>ptlight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,478},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{150,147}}</string>
                <key>sourceSize</key>
                <string>{170,169}</string>
            </dict>
            <key>u_get_reword.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1241},{283,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,75}}</string>
                <key>sourceSize</key>
                <string>{283,75}</string>
            </dict>
            <key>u_jl0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,1895},{123,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,29}}</string>
                <key>sourceSize</key>
                <string>{123,29}</string>
            </dict>
            <key>u_jl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1995},{108,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,29}}</string>
                <key>sourceSize</key>
                <string>{108,29}</string>
            </dict>
            <key>u_jl10.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1995},{93,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,29}}</string>
                <key>sourceSize</key>
                <string>{93,29}</string>
            </dict>
            <key>u_jl11.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1349},{119,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,23}}</string>
                <key>sourceSize</key>
                <string>{119,23}</string>
            </dict>
            <key>u_jl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1993},{136,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,30}}</string>
                <key>sourceSize</key>
                <string>{136,30}</string>
            </dict>
            <key>u_jl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1318},{156,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,29}}</string>
                <key>sourceSize</key>
                <string>{156,29}</string>
            </dict>
            <key>u_jl4.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1895},{152,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,29}}</string>
                <key>sourceSize</key>
                <string>{152,29}</string>
            </dict>
            <key>u_jl5.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1318},{107,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,30}}</string>
                <key>sourceSize</key>
                <string>{107,30}</string>
            </dict>
            <key>u_jl6.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1995},{107,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,29}}</string>
                <key>sourceSize</key>
                <string>{107,29}</string>
            </dict>
            <key>u_jl7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,1895},{120,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,29}}</string>
                <key>sourceSize</key>
                <string>{120,29}</string>
            </dict>
            <key>u_jl8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1995},{109,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,29}}</string>
                <key>sourceSize</key>
                <string>{109,29}</string>
            </dict>
            <key>u_jl9.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1995},{105,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,29}}</string>
                <key>sourceSize</key>
                <string>{105,29}</string>
            </dict>
            <key>u_light_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1374},{619,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,47},{619,620}}</string>
                <key>sourceSize</key>
                <string>{721,714}</string>
            </dict>
            <key>u_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{717,712}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{717,712}}</string>
                <key>sourceSize</key>
                <string>{721,714}</string>
            </dict>
            <key>u_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{651,650}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,28},{651,650}}</string>
                <key>sourceSize</key>
                <string>{721,714}</string>
            </dict>
            <key>u_opt0.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1895},{130,200}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{130,200}}</string>
                <key>sourceSize</key>
                <string>{130,258}</string>
            </dict>
            <key>u_opt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1241},{130,204}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,204}}</string>
                <key>sourceSize</key>
                <string>{130,258}</string>
            </dict>
            <key>u_topup_icon_gold0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>u_topup_icon_gold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,286},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>u_topup_icon_gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>u_topup_icon_gold3.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>u_topup_icon_gold4.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,471},{147,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,154}}</string>
                <key>sourceSize</key>
                <string>{147,154}</string>
            </dict>
            <key>u_topup_icon_gold5.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,322},{154,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,150}}</string>
                <key>sourceSize</key>
                <string>{154,150}</string>
            </dict>
            <key>u_topup_icon_gold6.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,322},{155,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,147}}</string>
                <key>sourceSize</key>
                <string>{155,147}</string>
            </dict>
            <key>u_topup_icon_gold7.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1895},{96,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,126}}</string>
                <key>sourceSize</key>
                <string>{96,126}</string>
            </dict>
            <key>u_topup_icon_gold8.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1926},{122,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,100}}</string>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>u_topup_icon_gold9.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>viplight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{158,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{158,157}}</string>
                <key>sourceSize</key>
                <string>{170,169}</string>
            </dict>
            <key>viplight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,478},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{150,147}}</string>
                <key>sourceSize</key>
                <string>{170,169}</string>
            </dict>
            <key>zhp_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,721},{517,518}}</string>
                <key>offset</key>
                <string>{-33,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,63},{517,518}}</string>
                <key>sourceSize</key>
                <string>{645,612}</string>
            </dict>
            <key>zhp_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1374},{519,518}}</string>
                <key>offset</key>
                <string>{-34,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,63},{519,518}}</string>
                <key>sourceSize</key>
                <string>{645,612}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimationDial.png</string>
            <key>size</key>
            <string>{1173,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1f126dd93420eda07bf0bb55b9cca5e:3dd9a3e9c08567102b2fd6f5491bbb18:a436e33260d6df212d5a48e4a7f5ad15$</string>
            <key>textureFileName</key>
            <string>AnimationDial.png</string>
        </dict>
    </dict>
</plist>
