<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>  
    <key>0</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>0</integer>  
        <key>name</key>  
        <string>woniuyu</string> 
        <key>fps</key>  
        <integer>9.0</integer>  
        <key>frames</key>  
        <integer>12</integer>  
        <key>isWalk</key>  
        <true/> 
        <key>width</key>  
        <integer>70</integer>  
        <key>height</key>  
        <integer>24</integer>
        <key>isLoop</key>  
        <true/>    
    </dict> 
    <key>1</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>1</integer>  
        <key>name</key>  
        <string>lvcaoyu</string> 
        <key>fps</key>  
        <integer>14.0</integer>  
        <key>frames</key>  
        <integer>16</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>54</integer>  
        <key>height</key>  
        <integer>24</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>2</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>2</integer>  
        <key>name</key>  
        <string>huangcaoyu</string> 
        <key>fps</key>  
        <integer>16.0</integer>  
        <key>frames</key>  
        <integer>24</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>78</integer>  
        <key>height</key>  
        <integer>48</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>3</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>3</integer>  
        <key>name</key>  
        <string>dayanyu</string> 
        <key>fps</key>  
        <integer>17.0</integer>  
        <key>frames</key>  
        <integer>23</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>99</integer>  
        <key>height</key>  
        <integer>64</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>4</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>4</integer>  
        <key>name</key>  
        <string>huangbianyu</string> 
        <key>fps</key>  
        <integer>14.0</integer>  
        <key>frames</key>  
        <integer>24</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>124</integer>  
        <key>height</key>  
        <integer>44</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>5</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>5</integer>  
        <key>name</key>  
        <string>xiaochouyu</string> 
        <key>fps</key>  
        <integer>13.0</integer>  
        <key>frames</key>  
        <integer>25</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>104</integer>  
        <key>height</key>  
        <integer>72</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>   
    <key>6</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>6</integer>  
        <key>name</key>  
        <string>xiaociyu</string> 
        <key>fps</key>  
        <integer>10.0</integer>  
        <key>frames</key>  
        <integer>13</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>120</integer>  
        <key>height</key>  
        <integer>57</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>7</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>7</integer>  
        <key>name</key>  
        <string>lanyu</string> 
        <key>fps</key>  
        <integer>14.0</integer>  
        <key>frames</key>  
        <integer>20</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>131</integer>  
        <key>height</key>  
        <integer>73</integer>
        <key>isLoop</key>  
        <true/>      
    </dict> 
    <key>8</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>8</integer>  
        <key>name</key>  
        <string>denglongyu</string> 
        <key>fps</key>  
        <integer>22.0</integer>  
        <key>frames</key>  
        <integer>24</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>213</integer>  
        <key>height</key>  
        <integer>110</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>9</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>9</integer>  
        <key>name</key>  
        <string>haigui</string> 
        <key>fps</key>  
        <integer>12.0</integer>  
        <key>frames</key>  
        <integer>16</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>135</integer>  
        <key>height</key>  
        <integer>145</integer>
        <key>isLoop</key>  
        <true/>      
    </dict> 
    <key>10</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>10</integer>  
        <key>name</key>  
        <string>huabanyu</string> 
        <key>fps</key>  
        <integer>13.0</integer>  
        <key>frames</key>  
        <integer>24</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>190</integer>  
        <key>height</key>  
        <integer>83</integer>
        <key>isLoop</key>  
        <true/>      
    </dict> 
    <key>11</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>11</integer>  
        <key>name</key>  
        <string>hudieyu</string> 
        <key>fps</key>  
        <integer>13.0</integer>  
        <key>frames</key>  
        <integer>12</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>158</integer>  
        <key>height</key>  
        <integer>163</integer>
        <key>isLoop</key>  
        <true/>      
    </dict> 
    <key>12</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>12</integer>  
        <key>name</key>  
        <string>kongqueyu</string> 
        <key>fps</key>  
        <integer>12.0</integer>  
        <key>frames</key>  
        <integer>24</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>220</integer>  
        <key>height</key>  
        <integer>88</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>13</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>13</integer>  
        <key>name</key>  
        <string>jianyu</string> 
        <key>fps</key>  
        <integer>13.0</integer>  
        <key>frames</key>  
        <integer>20</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>284</integer>  
        <key>height</key>  
        <integer>95</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>  
    <key>14</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>14</integer>  
        <key>name</key>  
        <string>bianfuyu</string> 
        <key>fps</key>  
        <integer>13.0</integer>  
        <key>frames</key>  
        <integer>24</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>209</integer>  
        <key>height</key>  
        <integer>259</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>  
    <key>15</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>15</integer>  
        <key>name</key>  
        <string>yinsha</string> 
        <key>fps</key>  
        <integer>20.0</integer>  
        <key>frames</key>  
        <integer>24</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>300</integer>  
        <key>height</key>  
        <integer>140</integer>
        <key>isLoop</key>  
        <true/>      
    </dict> 
    <key>16</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>16</integer>  
        <key>name</key>  
        <string>jinsha</string> 
        <key>fps</key>  
        <integer>20.0</integer>  
        <key>frames</key>  
        <integer>24</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>300</integer>  
        <key>height</key>  
        <integer>114</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>  
    <key>17</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>17</integer>  
        <key>name</key>  
        <string>bawangjing</string> 
        <key>fps</key>  
        <integer>9.0</integer>  
        <key>frames</key>  
        <integer>9</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>512</integer>  
        <key>height</key>  
        <integer>248</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>   
    <key>18</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>18</integer>  
        <key>name</key>  
        <string>jinchan</string> 
        <key>fps</key>  
        <integer>10.0</integer>  
        <key>frames</key>  
        <integer>5</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>257</integer>  
        <key>height</key>  
        <integer>253</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>    
    <key>19</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>19</integer>  
        <key>name</key>  
        <string>ship</string> 
        <key>fps</key>  
        <integer>16.0</integer>  
        <key>frames</key>  
        <integer>8</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>679</integer>  
        <key>height</key>  
        <integer>350</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>  
    <key>20</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>20</integer>  
        <key>name</key>  
        <string>meirenyu</string> 
        <key>fps</key>  
        <integer>13.0</integer>  
        <key>frames</key>  
        <integer>30</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>400</integer>  
        <key>height</key>  
        <integer>179</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>21</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>21</integer>  
        <key>name</key>  
        <string>xiaoqinglong</string> 
        <key>fps</key>  
        <integer>9.0</integer>  
        <key>frames</key>  
        <integer>9</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>480</integer>  
        <key>height</key>  
        <integer>177</integer>
        <key>isLoop</key>  
        <true/>      
    </dict> 
    <key>22</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>22</integer>  
        <key>name</key>  
        <string>xiaoyinlong</string> 
        <key>fps</key>  
        <integer>9.0</integer>  
        <key>frames</key>  
        <integer>9</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>480</integer>  
        <key>height</key>  
        <integer>177</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>        
    <key>23</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>23</integer>  
        <key>name</key>  
        <string>xiaojinlong</string> 
        <key>fps</key>  
        <integer>9.0</integer>  
        <key>frames</key>  
        <integer>9</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>480</integer>  
        <key>height</key>  
        <integer>177</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>   
    <key>24</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>24</integer>  
        <key>name</key>  
        <string>swk</string> 
        <key>fps</key>  
        <integer>6.7</integer>  
        <key>frames</key>  
        <integer>24</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>290</integer>  
        <key>height</key>  
        <integer>466</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>  
    <key>25</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>25</integer>  
        <key>name</key>  
        <string>ywdd</string> 
        <key>fps</key>  
        <integer>19.0</integer>  
        <key>frames</key>  
        <integer>19</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>225</integer>  
        <key>height</key>  
        <integer>346</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>  
    <key>26</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>26</integer>  
        <key>name</key>  
        <string>foshou</string> 
        <key>fps</key>  
        <integer>10.0</integer>  
        <key>frames</key>  
        <integer>18</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>256</integer>  
        <key>height</key>  
        <integer>256</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>  
    <key>27</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>27</integer>  
        <key>name</key>  
        <string>bglu</string> 
        <key>fps</key>  
        <integer>9.0</integer>  
        <key>frames</key>  
        <integer>18</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>320</integer>  
        <key>height</key>  
        <integer>285</integer>
        <key>isLoop</key>  
        <true/>      
    </dict> 
    <key>28</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>33</integer>  
        <key>name</key>  
        <string>GreenLight</string> 
        <key>fps</key>  
        <integer>10.0</integer>  
        <key>frames</key>  
        <integer>10</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>199</integer>  
        <key>height</key>  
        <integer>199</integer>
        <key>isLoop</key>  
        <true/>      
    </dict> 
    <key>29</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>34</integer>  
        <key>name</key>  
        <string>bglu_lun</string> 
        <key>fps</key>  
        <integer>24.0</integer>  
        <key>frames</key>  
        <integer>56</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>512</integer>  
        <key>height</key>  
        <integer>512</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>30</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>35</integer>  
        <key>name</key>  
        <string>bglu_gun</string> 
        <key>fps</key>  
        <integer>24.0</integer>  
        <key>frames</key>  
        <integer>27</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>512</integer>  
        <key>height</key>  
        <integer>512</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>              
    <key>31</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>36</integer>  
        <key>name</key>  
        <string>bglu_ta</string> 
        <key>fps</key>  
        <integer>10</integer>  
        <key>frames</key>  
        <integer>45</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>512</integer>  
        <key>height</key>  
        <integer>512</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>32</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>37</integer>  
        <key>name</key>  
        <string>ryjgb</string> 
        <key>fps</key>  
        <integer>8.0</integer>  
        <key>frames</key>  
        <integer>24</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>512</integer>  
        <key>height</key>  
        <integer>256</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>33</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>38</integer>  
        <key>name</key>  
        <string>jingangta</string> 
        <key>fps</key>  
        <integer>3.5</integer>  
        <key>frames</key>  
        <integer>30</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>512</integer>  
        <key>height</key>  
        <integer>256</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>34</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>39</integer>  
        <key>name</key>  
        <string>wdfhl</string> 
        <key>fps</key>  
        <integer>6.0</integer>  
        <key>frames</key>  
        <integer>19</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>1024</integer>  
        <key>height</key>  
        <integer>256</integer>
        <key>isLoop</key>  
        <true/>      
    </dict> 
    <key>35</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>40</integer>  
        <key>name</key>  
        <string>LChainFlag</string> 
        <key>fps</key>  
        <integer>9.0</integer>  
        <key>frames</key>  
        <integer>9</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>384</integer>  
        <key>height</key>  
        <integer>256</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>36</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>41</integer>  
        <key>name</key>  
        <string>LightChain</string> 
        <key>fps</key>  
        <integer>16.0</integer>  
        <key>frames</key>  
        <integer>5</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>1024</integer>  
        <key>height</key>  
        <integer>128</integer>
        <key>isLoop</key>  
        <true/>      
    </dict> 
     <key>37</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>42</integer>  
        <key>name</key>  
        <string>BlueLight</string> 
        <key>fps</key>  
        <integer>10.0</integer>  
        <key>frames</key>  
        <integer>10</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>199</integer>  
        <key>height</key>  
        <integer>199</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>                                                                                 
</dict>
</plist>
