<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>  
    <key>0</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>0</integer>  
        <key>name</key>  
        <string>woniuyu</string> 
        <key>fps</key>  
        <integer>8.0</integer>  
        <key>frames</key>  
        <integer>5</integer>  
        <key>isWalk</key>  
        <false/> 
        <key>width</key>  
        <integer>73</integer>  
        <key>height</key>  
        <integer>27</integer>
        <key>isLoop</key>  
        <false/>    
    </dict> 
    <key>1</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>1</integer>  
        <key>name</key>  
        <string>lvcaoyu</string> 
        <key>fps</key>  
        <integer>8.0</integer>  
        <key>frames</key>  
        <integer>3</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>54</integer>  
        <key>height</key>  
        <integer>28</integer>
        <key>isLoop</key>  
        <false/>      
    </dict>
    <key>2</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>2</integer>  
        <key>name</key>  
        <string>huangcaoyu</string> 
        <key>fps</key>  
        <integer>10.0</integer>  
        <key>frames</key>  
        <integer>3</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>78</integer>  
        <key>height</key>  
        <integer>46</integer>
        <key>isLoop</key>  
        <false/>      
    </dict>
    <key>3</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>3</integer>  
        <key>name</key>  
        <string>dayanyu</string> 
        <key>fps</key>  
        <integer>12.0</integer>  
        <key>frames</key>  
        <integer>10</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>104</integer>  
        <key>height</key>  
        <integer>62</integer>
        <key>isLoop</key>  
        <false/>      
    </dict>
    <key>4</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>4</integer>  
        <key>name</key>  
        <string>huangbianyu</string> 
        <key>fps</key>  
        <integer>12.0</integer>  
        <key>frames</key>  
        <integer>3</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>124</integer>  
        <key>height</key>  
        <integer>49</integer>
        <key>isLoop</key>  
        <false/>      
    </dict>
    <key>5</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>5</integer>  
        <key>name</key>  
        <string>xiaochouyu</string> 
        <key>fps</key>  
        <integer>9.0</integer>  
        <key>frames</key>  
        <integer>6</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>104</integer>  
        <key>height</key>  
        <integer>76</integer>
        <key>isLoop</key>  
        <false/>      
    </dict>   
    <key>6</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>6</integer>  
        <key>name</key>  
        <string>xiaociyu</string> 
        <key>fps</key>  
        <integer>12.0</integer>  
        <key>frames</key>  
        <integer>3</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>124</integer>  
        <key>height</key>  
        <integer>49</integer>
        <key>isLoop</key>  
        <false/>      
    </dict>
    <key>7</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>7</integer>  
        <key>name</key>  
        <string>lanyu</string> 
        <key>fps</key>  
        <integer>9.0</integer>  
        <key>frames</key>  
        <integer>5</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>131</integer>  
        <key>height</key>  
        <integer>70</integer>
        <key>isLoop</key>  
        <false/>      
    </dict> 
    <key>8</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>8</integer>  
        <key>name</key>  
        <string>denglongyu</string> 
        <key>fps</key>  
        <integer>16.0</integer>  
        <key>frames</key>  
        <integer>4</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>160</integer>  
        <key>height</key>  
        <integer>89</integer>
        <key>isLoop</key>  
        <false/>      
    </dict>
    <key>9</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>9</integer>  
        <key>name</key>  
        <string>haigui</string> 
        <key>fps</key>  
        <integer>25.0</integer>  
        <key>frames</key>  
        <integer>7</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>135</integer>  
        <key>height</key>  
        <integer>108</integer>
        <key>isLoop</key>  
        <false/>      
    </dict> 
    <key>10</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>10</integer>  
        <key>name</key>  
        <string>huabanyu</string> 
        <key>fps</key>  
        <integer>16.0</integer>  
        <key>frames</key>  
        <integer>4</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>190</integer>  
        <key>height</key>  
        <integer>199</integer>
        <key>isLoop</key>  
        <false/>      
    </dict> 
    <key>11</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>11</integer>  
        <key>name</key>  
        <string>hudieyu</string> 
        <key>fps</key>  
        <integer>16.0</integer>  
        <key>frames</key>  
        <integer>4</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>158</integer>  
        <key>height</key>  
        <integer>158</integer>
        <key>isLoop</key>  
        <false/>      
    </dict> 
    <key>12</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>12</integer>  
        <key>name</key>  
        <string>kongqueyu</string> 
        <key>fps</key>  
        <integer>12.0</integer>  
        <key>frames</key>  
        <integer>4</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>220</integer>  
        <key>height</key>  
        <integer>92</integer>
        <key>isLoop</key>  
        <false/>      
    </dict>
    <key>13</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>13</integer>  
        <key>name</key>  
        <string>jianyu</string> 
        <key>fps</key>  
        <integer>16.0</integer>  
        <key>frames</key>  
        <integer>3</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>284</integer>  
        <key>height</key>  
        <integer>113</integer>
        <key>isLoop</key>  
        <false/>      
    </dict>  
    <key>14</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>14</integer>  
        <key>name</key>  
        <string>bianfuyu</string> 
        <key>fps</key>  
        <integer>12.0</integer>  
        <key>frames</key>  
        <integer>6</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>209</integer>  
        <key>height</key>  
        <integer>252</integer>
        <key>isLoop</key>  
        <false/>      
    </dict>  
    <key>15</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>15</integer>  
        <key>name</key>  
        <string>yinsha</string> 
        <key>fps</key>  
        <integer>18.0</integer>  
        <key>frames</key>  
        <integer>6</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>300</integer>  
        <key>height</key>  
        <integer>144</integer>
        <key>isLoop</key>  
        <false/>      
    </dict> 
    <key>16</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>16</integer>  
        <key>name</key>  
        <string>jinsha</string> 
        <key>fps</key>  
        <integer>16.0</integer>  
        <key>frames</key>  
        <integer>5</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>300</integer>  
        <key>height</key>  
        <integer>135</integer>
        <key>isLoop</key>  
        <false/>      
    </dict>  
    <key>17</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>17</integer>  
        <key>name</key>  
        <string>bawangjing</string> 
        <key>fps</key>  
        <integer>8.0</integer>  
        <key>frames</key>  
        <integer>3</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>512</integer>  
        <key>height</key>  
        <integer>239</integer>
        <key>isLoop</key>  
        <false/>      
    </dict>   
    <key>18</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>18</integer>  
        <key>name</key>  
        <string>jinchan</string> 
        <key>fps</key>  
        <integer>15.0</integer>  
        <key>frames</key>  
        <integer>10</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>295</integer>  
        <key>height</key>  
        <integer>264</integer>
        <key>isLoop</key>  
        <false/>      
    </dict>    
    <key>19</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>20</integer>  
        <key>name</key>  
        <string>meirenyu</string> 
        <key>fps</key>  
        <integer>13.0</integer>  
        <key>frames</key>  
        <integer>19</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>350</integer>  
        <key>height</key>  
        <integer>320</integer>
        <key>isLoop</key>  
        <false/>      
    </dict>
    <key>20</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>21</integer>  
        <key>name</key>  
        <string>xiaoqinglong</string> 
        <key>fps</key>  
        <integer>8.0</integer>  
        <key>frames</key>  
        <integer>4</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>480</integer>  
        <key>height</key>  
        <integer>177</integer>
        <key>isLoop</key>  
        <false/>      
    </dict> 
    <key>21</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>22</integer>  
        <key>name</key>  
        <string>xiaoyinlong</string> 
        <key>fps</key>  
        <integer>8.0</integer>  
        <key>frames</key>  
        <integer>4</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>480</integer>  
        <key>height</key>  
        <integer>177</integer>
        <key>isLoop</key>  
        <false/>      
    </dict>        
    <key>22</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>23</integer>  
        <key>name</key>  
        <string>xiaojinlong</string> 
        <key>fps</key>  
        <integer>8.0</integer>  
        <key>frames</key>  
        <integer>4</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>480</integer>  
        <key>height</key>  
        <integer>177</integer>
        <key>isLoop</key>  
        <false/>      
    </dict>   
    <key>23</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>24</integer>  
        <key>name</key>  
        <string>swk</string> 
        <key>fps</key>  
        <integer>6.7</integer>  
        <key>frames</key>  
        <integer>12</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>560</integer>  
        <key>height</key>  
        <integer>508</integer>
        <key>isLoop</key>  
        <false/>      
    </dict>  
    <key>24</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>25</integer>  
        <key>name</key>  
        <string>ywdd</string> 
        <key>fps</key>  
        <integer>9.0</integer>  
        <key>frames</key>  
        <integer>9</integer>  
        <key>isWalk</key>  
        <false/>  
        <key>width</key>  
        <integer>562</integer>  
        <key>height</key>  
        <integer>562</integer>
        <key>isLoop</key>  
        <false/>      
    </dict>                          
</dict>
</plist>
