<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>  
    <key>0</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>0</integer>  
        <key>name</key>  
        <string>fish1</string> 
        <key>fps</key>  
        <integer>12.0</integer>  
        <key>frames</key>  
        <integer>12</integer>  
        <key>isWalk</key>  
        <true/> 
        <key>width</key>  
        <integer>70</integer>  
        <key>height</key>  
        <integer>24</integer>
        <key>isLoop</key>  
        <true/>    
    </dict> 
    <key>1</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>1</integer>  
        <key>name</key>  
        <string>fish2</string> 
        <key>fps</key>  
        <integer>16.0</integer>  
        <key>frames</key>  
        <integer>16</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>54</integer>  
        <key>height</key>  
        <integer>24</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>2</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>2</integer>  
        <key>name</key>  
        <string>fish3</string> 
        <key>fps</key>  
        <integer>24.0</integer>  
        <key>frames</key>  
        <integer>24</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>78</integer>  
        <key>height</key>  
        <integer>48</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>3</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>3</integer>  
        <key>name</key>  
        <string>fish4</string> 
        <key>fps</key>  
        <integer>24.0</integer>  
        <key>frames</key>  
        <integer>24</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>100</integer>  
        <key>height</key>  
        <integer>64</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>4</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>4</integer>  
        <key>name</key>  
        <string>fish5</string> 
        <key>fps</key>  
        <integer>24.0</integer>  
        <key>frames</key>  
        <integer>24</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>124</integer>  
        <key>height</key>  
        <integer>45</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>5</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>5</integer>  
        <key>name</key>  
        <string>fish6</string> 
        <key>fps</key>  
        <integer>25.0</integer>  
        <key>frames</key>  
        <integer>25</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>105</integer>  
        <key>height</key>  
        <integer>72</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>   
    <key>6</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>6</integer>  
        <key>name</key>  
        <string>fish7</string> 
        <key>fps</key>  
        <integer>20.0</integer>  
        <key>frames</key>  
        <integer>60</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>120</integer>  
        <key>height</key>  
        <integer>58</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>7</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>7</integer>  
        <key>name</key>  
        <string>fish8</string> 
        <key>fps</key>  
        <integer>20.0</integer>  
        <key>frames</key>  
        <integer>20</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>132</integer>  
        <key>height</key>  
        <integer>74</integer>
        <key>isLoop</key>  
        <true/>      
    </dict> 
    <key>8</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>8</integer>  
        <key>name</key>  
        <string>fish9</string> 
        <key>fps</key>  
        <integer>24.0</integer>  
        <key>frames</key>  
        <integer>24</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>160</integer>  
        <key>height</key>  
        <integer>70</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>9</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>9</integer>  
        <key>name</key>  
        <string>fish10</string> 
        <key>fps</key>  
        <integer>16.0</integer>  
        <key>frames</key>  
        <integer>16</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>135</integer>  
        <key>height</key>  
        <integer>145</integer>
        <key>isLoop</key>  
        <true/>      
    </dict> 
    <key>10</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>10</integer>  
        <key>name</key>  
        <string>fish11</string> 
        <key>fps</key>  
        <integer>24.0</integer>  
        <key>frames</key>  
        <integer>24</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>190</integer>  
        <key>height</key>  
        <integer>84</integer>
        <key>isLoop</key>  
        <true/>      
    </dict> 
    <key>11</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>11</integer>  
        <key>name</key>  
        <string>fish12</string> 
        <key>fps</key>  
        <integer>12.0</integer>  
        <key>frames</key>  
        <integer>12</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>158</integer>  
        <key>height</key>  
        <integer>164</integer>
        <key>isLoop</key>  
        <true/>      
    </dict> 
    <key>12</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>12</integer>  
        <key>name</key>  
        <string>fish13</string> 
        <key>fps</key>  
        <integer>24.0</integer>  
        <key>frames</key>  
        <integer>24</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>220</integer>  
        <key>height</key>  
        <integer>88</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>13</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>13</integer>  
        <key>name</key>  
        <string>fish14</string> 
        <key>fps</key>  
        <integer>20.0</integer>  
        <key>frames</key>  
        <integer>20</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>285</integer>  
        <key>height</key>  
        <integer>97</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>  
    <key>14</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>14</integer>  
        <key>name</key>  
        <string>fish15</string> 
        <key>fps</key>  
        <integer>24.0</integer>  
        <key>frames</key>  
        <integer>24</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>210</integer>  
        <key>height</key>  
        <integer>260</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>  
    <key>15</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>15</integer>  
        <key>name</key>  
        <string>fish16</string> 
        <key>fps</key>  
        <integer>24.0</integer>  
        <key>frames</key>  
        <integer>24</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>300</integer>  
        <key>height</key>  
        <integer>140</integer>
        <key>isLoop</key>  
        <true/>      
    </dict> 
    <key>16</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>16</integer>  
        <key>name</key>  
        <string>fish17</string> 
        <key>fps</key>  
        <integer>24.0</integer>  
        <key>frames</key>  
        <integer>24</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>300</integer>  
        <key>height</key>  
        <integer>140</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>  
    <key>17</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>17</integer>  
        <key>name</key>  
        <string>fish18</string> 
        <key>fps</key>  
        <integer>9.0</integer>  
        <key>frames</key>  
        <integer>9</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>480</integer>  
        <key>height</key>  
        <integer>177</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>    
    <key>18</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>18</integer>  
        <key>name</key>  
        <string>fish19</string> 
        <key>fps</key>  
        <integer>8.0</integer>  
        <key>frames</key>  
        <integer>8</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>512</integer>  
        <key>height</key>  
        <integer>256</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>  
    <key>19</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>19</integer>  
        <key>name</key>  
        <string>fish20</string> 
        <key>fps</key>  
        <integer>5.0</integer>  
        <key>frames</key>  
        <integer>3</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>256</integer>  
        <key>height</key>  
        <integer>256</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>
    <key>20</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>20</integer>  
        <key>name</key>  
        <string>fish21</string> 
        <key>fps</key>  
        <integer>9.0</integer>  
        <key>frames</key>  
        <integer>9</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>512</integer>  
        <key>height</key>  
        <integer>304</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>   
    <key>21</key>  
    <dict>  
        <key>fishKind</key>  
        <integer>21</integer>  
        <key>name</key>  
        <string>fish22</string> 
        <key>fps</key>  
        <integer>6.0</integer>  
        <key>frames</key>  
        <integer>6</integer>  
        <key>isWalk</key>  
        <true/>  
        <key>width</key>  
        <integer>256</integer>  
        <key>height</key>  
        <integer>352</integer>
        <key>isLoop</key>  
        <true/>      
    </dict>                                 
</dict>
</plist>
