<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet2_double_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,387},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,57}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>bullet2_double_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,333},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,57}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>bullet2_norm1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,665},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet2_norm1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,632},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet2_norm2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,599},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet2_norm2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,566},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet2_norm3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,615},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet2_norm3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,592},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet2_norm4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,582},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet2_norm4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,559},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet2_norm5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,549},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet2_norm5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,526},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet2_norm6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,493},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet2_norm6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,460},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet3_double_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,453},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>bullet3_double_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,422},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>bullet3_norm1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,698},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>bullet3_norm1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,696},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>bullet3_norm2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,709},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>bullet3_norm2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,685},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>bullet3_norm3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,678},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>bullet3_norm3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,676},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>bullet3_norm4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,655},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>bullet3_norm4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,648},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>bullet3_norm5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,643},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>bullet3_norm5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,625},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>bullet3_norm6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,610},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>bullet3_norm6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,476},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>bullet4_double_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,495},{52,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>bullet4_double_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,441},{52,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>bullet4_norm1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,389},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet4_norm1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,356},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet4_norm2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,323},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet4_norm2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,290},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet4_norm3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,257},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet4_norm3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,224},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet4_norm4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,187},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet4_norm4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,150},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet4_norm5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,113},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet4_norm5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,76},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet4_norm6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,39},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>bullet4_norm6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>double_explode_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>double_explode_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,208},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{192,194}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>explode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,402},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>explode10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{268,266}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>explode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,270},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>explode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,507},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>explode4.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,593},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>explode5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>explode6.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,566},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>explode7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>explode8.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,402},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>explode9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_jcby.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8daa5272fc92a21927e76fabfdb96ac$</string>
            <key>textureFileName</key>
            <string>bullet_jcby.png</string>
        </dict>
    </dict>
</plist>
