<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet2_double_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,443},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,57}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>bullet2_double_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,389},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,57}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>bullet2_norm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,497},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>bullet2_norm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,497},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>bullet2_norm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,497},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>bullet2_norm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,497},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>bullet2_norm5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,497},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>bullet2_norm6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,497},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>bullet3_double_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,547},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>bullet3_double_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,547},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>bullet3_norm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,270},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>bullet3_norm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,270},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>bullet3_norm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,270},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>bullet3_norm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,270},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>bullet3_norm5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,270},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>bullet3_norm6.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,270},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>bullet4_double_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,542},{52,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>bullet4_double_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,488},{52,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>bullet4_norm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,270},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>bullet4_norm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,270},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>bullet4_norm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,270},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>bullet4_norm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,270},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>bullet4_norm5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,270},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>bullet4_norm6.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,270},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>double_explode_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>double_explode_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,208},{192,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{192,194}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>explode1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,592},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>explode10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{268,266}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>explode2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,326},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>explode3.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,402},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>explode4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,643},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>explode5.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,566},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>explode6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>explode7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>explode8.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,402},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>explode9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_lkpy.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bf05556b89261d15dd4d51474aa1c84$</string>
            <key>textureFileName</key>
            <string>bullet_lkpy.png</string>
        </dict>
    </dict>
</plist>
