<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bawangjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,175},{53,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,110}}</string>
                <key>sourceSize</key>
                <string>{53,110}</string>
            </dict>
            <key>bglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,58},{87,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{87,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>bianfuyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,287},{98,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>btn_guide.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,438},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>dayanyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{52,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,95}}</string>
                <key>sourceSize</key>
                <string>{52,95}</string>
            </dict>
            <key>denglongyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,134},{54,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,116}}</string>
                <key>sourceSize</key>
                <string>{54,116}</string>
            </dict>
            <key>foshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,190},{105,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,103}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>guide_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{63,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,136}}</string>
                <key>sourceSize</key>
                <string>{63,136}</string>
            </dict>
            <key>guide_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,192}}</string>
                <key>sourceSize</key>
                <string>{128,192}</string>
            </dict>
            <key>guide_item_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{107,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,160}}</string>
                <key>sourceSize</key>
                <string>{107,160}</string>
            </dict>
            <key>haigui.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,388},{59,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,77}}</string>
                <key>sourceSize</key>
                <string>{59,77}</string>
            </dict>
            <key>huabanyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,363},{70,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,73}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>huangbianyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,396},{34,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,98}}</string>
                <key>sourceSize</key>
                <string>{34,98}</string>
            </dict>
            <key>huangcaoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,230},{40,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,72}}</string>
                <key>sourceSize</key>
                <string>{40,72}</string>
            </dict>
            <key>hudieyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,286},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>jianyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,305},{40,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,107}}</string>
                <key>sourceSize</key>
                <string>{40,107}</string>
            </dict>
            <key>jinchan.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,375},{75,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>jinsha.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,117},{56,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,110}}</string>
                <key>sourceSize</key>
                <string>{56,110}</string>
            </dict>
            <key>kongqueyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,412},{35,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,97}}</string>
                <key>sourceSize</key>
                <string>{35,97}</string>
            </dict>
            <key>lanyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,414},{41,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,82}}</string>
                <key>sourceSize</key>
                <string>{41,82}</string>
            </dict>
            <key>liantuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,305},{44,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,105}}</string>
                <key>sourceSize</key>
                <string>{44,105}</string>
            </dict>
            <key>likui.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,230},{54,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,108}}</string>
                <key>sourceSize</key>
                <string>{54,108}</string>
            </dict>
            <key>lvcaoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,375},{23,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,56}}</string>
                <key>sourceSize</key>
                <string>{23,56}</string>
            </dict>
            <key>meirenyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,295},{51,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,108}}</string>
                <key>sourceSize</key>
                <string>{51,108}</string>
            </dict>
            <key>qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,405},{45,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,97}}</string>
                <key>sourceSize</key>
                <string>{45,97}</string>
            </dict>
            <key>ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,286},{100,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,58}}</string>
                <key>sourceSize</key>
                <string>{100,58}</string>
            </dict>
            <key>swk.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,67},{65,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,120}}</string>
                <key>sourceSize</key>
                <string>{65,120}</string>
            </dict>
            <key>woniuyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,147},{25,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,77}}</string>
                <key>sourceSize</key>
                <string>{25,77}</string>
            </dict>
            <key>xiaochouyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,147},{53,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,76}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>xiaociyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,295},{40,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,99}}</string>
                <key>sourceSize</key>
                <string>{40,99}</string>
            </dict>
            <key>xiaojinlong.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,175},{54,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,110}}</string>
                <key>sourceSize</key>
                <string>{54,110}</string>
            </dict>
            <key>xiaoqinglong.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{56,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,110}}</string>
                <key>sourceSize</key>
                <string>{56,110}</string>
            </dict>
            <key>xiaoyinlong.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{54,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,115}}</string>
                <key>sourceSize</key>
                <string>{54,115}</string>
            </dict>
            <key>yinsha.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,60},{55,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,115}}</string>
                <key>sourceSize</key>
                <string>{55,115}</string>
            </dict>
            <key>ywdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{60,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>sourceSize</key>
                <string>{60,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameguide.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efe6774ef0841c236fcee40dce77dfac$</string>
            <key>textureFileName</key>
            <string>gameguide.png</string>
        </dict>
    </dict>
</plist>
