<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>  
    <key>0</key>  
    <dict>  
        <key>title</key>  
        <string>蜗牛鱼</string> 
        <key>Imagename</key>  
        <string>woniuyu</string> 
        <key>power</key>
        <integer>2</integer>
        <key>desc</key>  
        <string>null</string>  
    </dict> 
    <key>1</key>  
    <dict>
        <key>title</key>  
        <string>绿草鱼</string> 
        <key>Imagename</key>  
        <string>lvcaoyu</string> 
        <key>power</key>
        <integer>2</integer>
        <key>desc</key>  
        <string>null</string>    
    </dict>
    <key>2</key>  
    <dict> 
        <key>title</key>  
        <string>黄草鱼</string> 
        <key>Imagename</key>  
        <string>huangcaoyu</string> 
        <key>power</key>
        <integer>3</integer>
        <key>desc</key>  
        <string>null</string>   
    </dict>
    <key>3</key>  
    <dict>
        <key>title</key>  
        <string>大眼鱼</string> 
        <key>Imagename</key>  
        <string>dayanyu</string> 
        <key>power</key>
        <integer>4</integer>
        <key>desc</key>  
        <string>null</string>   
    </dict>
    <key>4</key>  
    <dict>
        <key>title</key>  
        <string>黄边鱼</string> 
        <key>Imagename</key>  
        <string>huangbianyu</string> 
        <key>power</key>
        <integer>5</integer>
        <key>desc</key>  
        <string>null</string>
    </dict>
    <key>5</key>  
    <dict>
        <key>title</key>  
        <string>小丑鱼</string> 
        <key>Imagename</key>  
        <string>xiaochouyu</string> 
        <key>power</key>
        <integer>6</integer>
        <key>desc</key>  
        <string>null</string>
    </dict>   
    <key>6</key>  
    <dict>
        <key>title</key>  
        <string>小刺鱼</string> 
        <key>Imagename</key>  
        <string>xiaociyu</string> 
        <key>power</key>
        <integer>7</integer>
        <key>desc</key>  
        <string>null</string>
    </dict>
    <key>7</key>  
    <dict>  
        <key>title</key>  
        <string>蓝鱼</string> 
        <key>Imagename</key>  
        <string>lanyu</string> 
        <key>power</key>
        <integer>8</integer>
        <key>desc</key>  
        <string>null</string>      
    </dict> 
    <key>8</key>  
    <dict>
        <key>title</key>  
        <string>灯笼鱼</string> 
        <key>Imagename</key>  
        <string>denglongyu</string> 
        <key>power</key>
        <integer>9</integer>
        <key>desc</key>  
        <string>null</string>
    </dict>
    <key>9</key>  
    <dict>
        <key>title</key>  
        <string>海龟</string> 
        <key>Imagename</key>  
        <string>haigui</string> 
        <key>power</key>
        <integer>10</integer>
        <key>desc</key>  
        <string>null</string>
    </dict> 
    <key>10</key>  
    <dict>
        <key>title</key>  
        <string>花斑鱼</string> 
        <key>Imagename</key>  
        <string>huabanyu</string> 
        <key>power</key>
        <integer>12</integer>
        <key>desc</key>  
        <string>null</string>        
    </dict> 
    <key>11</key>  
    <dict>
        <key>title</key>  
        <string>蝴蝶鱼</string> 
        <key>Imagename</key>  
        <string>hudieyu</string> 
        <key>power</key>
        <integer>15</integer>
        <key>desc</key>  
        <string>null</string>
    </dict> 
    <key>12</key>  
    <dict>
        <key>title</key>  
        <string>孔雀鱼</string> 
        <key>Imagename</key>  
        <string>kongqueyu</string> 
        <key>power</key>
        <integer>18</integer>
        <key>desc</key>  
        <string>null</string>
    </dict>
    <key>13</key>  
    <dict>
        <key>title</key>  
        <string>剑鱼</string> 
        <key>Imagename</key>  
        <string>jianyu</string> 
        <key>power</key>
        <integer>20</integer>
        <key>desc</key>  
        <string>null</string>
    </dict>  
    <key>14</key>  
    <dict>
        <key>title</key>  
        <string>蝙蝠鱼</string> 
        <key>Imagename</key>  
        <string>bianfuyu</string> 
        <key>power</key>
        <integer>25</integer>
        <key>desc</key>  
        <string>null</string>
    </dict>  
    <key>15</key>  
    <dict>
        <key>title</key>  
        <string>银鲨</string> 
        <key>Imagename</key>  
        <string>yinsha</string> 
        <key>power</key>
        <integer>30</integer>
        <key>desc</key>  
        <string>null</string>   
    </dict> 
    <key>16</key>  
    <dict>
        <key>title</key>
        <string>金鲨</string> 
        <key>Imagename</key>  
        <string>jinsha</string> 
        <key>power</key>
        <integer>35</integer>
        <key>desc</key>  
        <string>null</string>     
    </dict>  
    <key>17</key>  
    <dict>
        <key>title</key>
        <string>霸王鲸</string> 
        <key>Imagename</key>  
        <string>bawangjing</string> 
        <key>power</key>
        <integer>50</integer>
        <key>desc</key>  
        <string>null</string>     
    </dict>
    <key>18</key>  
    <dict>
        <key>title</key>
        <string>蓝豚</string> 
        <key>Imagename</key>  
        <string>liantuan</string> 
        <key>power</key>
        <integer>0</integer>
        <key>desc</key>  
        <string>40-200倍</string>
    </dict>      
    <key>19</key>  
    <dict>
        <key>title</key>
        <string>小金龙</string> 
        <key>Imagename</key>  
        <string>xiaojinlong</string> 
        <key>power</key>
        <integer>250</integer>
        <key>desc</key>  
        <string>null</string>     
    </dict>    
    <key>20</key>  
    <dict>
        <key>title</key>
        <string>金蝉</string> 
        <key>Imagename</key>  
        <string>jinchan</string> 
        <key>power</key>
        <integer>320</integer>
        <key>desc</key>  
        <string>null</string>
    </dict>                                                                                       
</dict>
</plist>
