<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_zhp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{645,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,612}}</string>
                <key>sourceSize</key>
                <string>{645,612}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,52},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ptgo.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,344},{170,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,169}}</string>
                <key>sourceSize</key>
                <string>{170,169}</string>
            </dict>
            <key>ptgo_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,344},{170,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,169}}</string>
                <key>sourceSize</key>
                <string>{170,169}</string>
            </dict>
            <key>vipgo.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,173},{170,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,169}}</string>
                <key>sourceSize</key>
                <string>{170,169}</string>
            </dict>
            <key>vipgo_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{170,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,169}}</string>
                <key>sourceSize</key>
                <string>{170,169}</string>
            </dict>
            <key>zhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{48,92}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,92}}</string>
                <key>sourceSize</key>
                <string>{48,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIDial.png</string>
            <key>size</key>
            <string>{991,616}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b46fa3b596f90c9f9191aec308aaf2d2:2ffb60fd6a6bc09f56d461119d4466ff:1fa5bfd3d5801ed61bb3a300db4a84ab$</string>
            <key>textureFileName</key>
            <string>UIDial.png</string>
        </dict>
    </dict>
</plist>
